html, body {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    touch-action: manipulation;
}

h1 {
    text-align: center;
}

.playfield {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingIndicator {
    font-size: 50px;
    font-weight: bold;
}

.red {
    background-color: red;
    flex-grow: 1;
    height: 100%;
}

.blue {
    background-color: blue;
    flex-grow: 1;
    height: 100%;
}
